@font-face {
  font-family: 'Din Pro';
  src: local('Din Pro Regular'), local('DinProRegular'), url('din-pro.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Din Pro';
  src: local('Din Pro Medium'), local('DinProMedium'), url('din-pro-medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Din Pro';
  src: local('Din Pro Bold'), local('DinProBold'), url('din-pro-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Din Pro';
  src: local('Din Pro Black'), local('DinProBlack'), url('din-pro-black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}