:root {
  --text-color: #030303;
  --background-color: $very_light_grey;
}
$white: #ffffff;
$very_light_grey: #C9C9C9;
$blue_zodiac: #3E4452;
$bunting: #28303F;
$dark_gray: #3E4552;
$bright_grey: #535965;
$slate_grey: #7E838C;
$raven: #686E79;
$mischka: #9FA2A8;
$link_water: #D4D6D9;
$solitude: #E9EAEC;
$border_color_light: #d7d7dc;
$torch_red: #ff1744;
$tutu: #ffe2e2;